### JetBrains IntelliJ platform directories and files
out/
.idea/
*.iws
*.iml

# Cursive Clojure plugin
.idea/replstate.xml

### Leiningen template
lib/
classes/
target/
checkouts/
.lein-*
.nrepl-port
.cpcache/
pom.xml

# Node.js dependencies
node_modules/

# shadow-cljs cache, port files
.shadow-cljs/

# clj-kondo's cache, but not the (optional) configuration file itself
.clj-kondo/**
!.clj-kondo/config.edn

# project's example metadata file, not added to repository as that would be too much self-recursion
resources/metadata.edn
